/* RESET DEFAULT BROWSER STYLES */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* BODY FULL VIEWPORT HEIGHT */
body{
height:100vh;
font-family: Arial, Helvetica, sans-serif;
}


/* ==========================
   NAVBAR STYLING
   Demonstrates display:inline-block
   ========================== */

.navbar{
background-color:rgb(226,142,33);
padding:1.5vh 2vw;
text-align:center;
}

/* NAV SECTIONS */

.nav-left,
.nav-center,
.nav-right{
display:inline-block;   /* assignment requirement */
vertical-align:middle;
}

/* LOGO */

.logo{
width:180px;

}

/* MENU */

.nav-center ul{
list-style:none;
}

.nav-center li{
display:inline-block;
margin:0 1vw;
font-size:1.2vw;
}

.nav-center a{
text-decoration:none;
color:white;
}

.nav-center a:hover{
color:black;
}

/* USER BUTTON */

.username{
margin-left:2vw;
padding:.6vh 1.5vw;
font-size:1vw;
background-color:aqua;
border-radius:5px;
border:2px solid blue;
cursor:pointer;
}


/* ==========================
   HERO SECTION LAYOUT
   Two Div Layout Requirement
   ========================== */

.hero{
height:80vh;                /* viewport unit */
padding:5vh 5vw;
}

/* LEFT CONTENT */

.hero-left{
display:inline-block;
width:48%;
vertical-align:middle;
}

/* RIGHT IMAGE */

.hero-right{
display:inline-block;
width:48%;
vertical-align:middle;
text-align:right;
}

.hero-right img{
width:80%;
}


/* TEXT STYLING */

.hero-left h1{
font-size:3vw;
margin-bottom:2vh;
}

.hero-left h2{
font-size:1.6vw;
margin-bottom:2vh;
text-decoration:underline red;
}

.highlight{
color:brown;
}

.hero-left p{
font-size:1vw;
line-height:1.6;
}

/* BUTTON */

.book-service{
margin-top:3vh;
padding:1vh 2vw;
font-size:1.5vw;
background-color:aqua;
border-radius:10px;
cursor:pointer;
}

.book-service:hover{
transform:scale(1.1);
transition:.3s;
}


/* ==========================
   RESPONSIVE DESIGN
   ========================== */

@media (max-width:768px){

.hero-left,
.hero-right{
display:block;
width:100%;
text-align:center;
}

.hero-right img{
width:70%;
margin-top:20px;
}

.hero-left h1{
font-size:28px;
}

.hero-left h2{
font-size:22px;
}

.hero-left p{
font-size:16px;
}

.book-service{
font-size:20px;
}

.nav-left,
.nav-center,
.nav-right{
display:block;
margin:10px 0;
}

.nav-center li{
display:block;
margin:10px 0;
}

}
